/* creating an animation */
@keyframes pulse {
	0% {
		transform: scale(0.9);
	}
	50% {
		transform: scale(1);
	}
	100% {
		transform: scale(0.9);
	}
}

/* styling an animation */
.pulse {
	animation: pulse 1.5s infinite;
	-webkit-animation: pulse 1.5s infinite;
}