@import '_fonts';
@import '_functions';

:root {
	--darkblue: #023257;
	--yellow: #ffe614;
	--lightgreen: #00bb29;
	--black: #0f0f0f;
}

* {
	font-family: 'SF Pro Text';
	color: var(--black);
}

html, body {
	font-size: 12px;
	line-height: 1.4;
}

body {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, p, span, ul, li {
	margin: 0;
}

a {
	text-decoration: none;
}

img, svg{
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  @media (min-width: 576px) {
    width: 570px;
  }
  @media(min-width:768px) {
    width: 760px;
  }
  @media(min-width:992px) {
    width: 990px;
  }
  @media(min-width:1200px) {
    width: 1190px;
  }
}

.title{
  & > div{
    line-height: 1.3;
  }
  &__clamp{
    font-size: clamp(20px, cqi(40), 40px);
    margin-bottom: clamp(15px, cqi(60), 60px);
  }
  &__old{
    font-size: 20px;
    margin-bottom: 15px;
    @media(min-width:768px){
      font-size: 25px;
      margin-bottom: 20px;
    }
    @media(min-width:992px){
      font-size: 35px;
      margin-bottom: 30px;
    }
    @media(min-width:1200px){
      font-size: 40px;
      margin-bottom: 60px;
    }
  }
}

.box{
  width: 50%;
  border: 2px solid red;
  background: #ccc;
  height: 100px;
  margin-bottom: clamp(15px, cqi(60), 60px);
  &__wrap{
    display: flex;
  }
  &__title{
    font-size: clamp(15px, cqi(30), 30px);
  }
  &__old{
    font-size: 15px;
    @media(min-width:768px){
      font-size: 20px;
    }
    @media(min-width:992px){
      font-size: 25px;
    }
    @media(min-width:1200px){
      font-size: 30px;
    }
  }
}