@import '_fonts';
@import '_functions';
@import '_animations';

:root {
	--white: #fff;
	--bluelight: #e6f4fb;
	--bluish: #e5f7ff;
	--blue: #0692db;
	--darkblue: #023257;
	--darkblue-v2: #17214c;
	--yellow: #ffe614;
	--lightgreen: #00bb29;
	--black: #0f0f0f;
	--grayish: #ededed;
	--lightgray: #d7d7d7;
	--red: #ff0000;
}

* {
	box-sizing: border-box;
}

html, body {
	font-size: 12px;
	line-height: 1.4;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'SF Pro Text';
	font-weight: normal;
	color: var(--black);
	font-size: 15px;
}

h1, h2, h3, h4, h5, p, span, ul, li {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

img, svg{
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
	position: relative;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  @media (min-width: 576px) {
    width: 570px;
  }
  @media(min-width:768px) {
    width: 760px;
  }
  @media(min-width:992px) {
    width: 990px;
  }
  @media(min-width:1200px) {
    width: 1190px;
  }
}

/* styling Title */
.title-up {
	font-size: 40px;
	line-height: 49px;
}
.title-down {
	font-size: 40px;
	line-height: 49px;
	font-weight: 700;
	color: var(--blue);
	padding-bottom: 50px;
	background: url(/img/pre-line.png) no-repeat center bottom;
}
.title-desc {
	font-size: 19px;
	line-height: 28px;
	letter-spacing: 0.5px;
	margin-top: 20px;
}

/* styling Box for button */
.btn-box {
	position: relative;
	width: 470px;
	max-width: 100%;
	margin-top: 35px;
	display: block;
	text-align: center;
	font-size: 17px;
	line-height: 20px;
	font-weight: 600;

	.btn-text {
		margin: 9px 0 18px;
		span {
			color: var(--red);
		}
	}
	.slider {
		position: relative;
		height: 6px;
		background: var(--grayish);
		border-radius: 6px;
		overflow: hidden;
		.tab-move {
			height: 6px;
			width: 50%;
			background: var(--red);
			border-radius: 6px;
		}
	}
}

// .title{
//   & > div{
//     line-height: 1.3;
//   }
//   &__clamp{
//     font-size: clamp(20px, cqi(40), 40px);
//     margin-bottom: clamp(15px, cqi(60), 60px);
//   }
//   &__old{
//     font-size: 20px;
//     margin-bottom: 15px;
//     @media(min-width:768px){
//       font-size: 25px;
//       margin-bottom: 20px;
//     }
//     @media(min-width:992px){
//       font-size: 35px;
//       margin-bottom: 30px;
//     }
//     @media(min-width:1200px){
//       font-size: 40px;
//       margin-bottom: 60px;
//     }
//   }
// }

// .box{
//   width: 50%;
//   border: 2px solid red;
//   background: #ccc;
//   height: 100px;
//   margin-bottom: clamp(15px, cqi(60), 60px);
//   &__wrap{
//     display: flex;
//   }
//   &__title{
//     font-size: clamp(15px, cqi(30), 30px);
//   }
//   &__old{
//     font-size: 15px;
//     @media(min-width:768px){
//       font-size: 20px;
//     }
//     @media(min-width:992px){
//       font-size: 25px;
//     }
//     @media(min-width:1200px){
//       font-size: 30px;
//     }
//   }
// }