@import '_fonts';
@import '_functions';
@import '_animations';
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');


:root {
	--white: #fff;
	--bluelight: #e6f4fb;
	--bluish: #e5f7ff;
	--blue: #0692db;
	--darkblue: #023257;
	--darkblue-v2: #17214c;
	--yellow: #ffe614;
	--lightgreen: #00bb29;
	--black: #0f0f0f;
	--grayish: #ededed;
	--lightgray: #d7d7d7;
	--red: #ff0000;
}

* {
	box-sizing: border-box;
}

html, body {
	font-size: 12px;
	line-height: 1.4;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'SF Pro Text';
	font-weight: normal;
	color: var(--black);
	font-size: 15px;
}

h1, h2, h3, h4, h5, p, span, ul, li {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

img, svg {
  display: block;
  max-width: 100%;
  height: auto;
}

b, strong {
	font-weight: bolder;
}


.container {
	position: relative;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  @media (min-width: 576px) {
    width: 570px;
  }
  @media(min-width: 768px) {
    width: 760px;
  }
  @media(min-width: 992px) {
    width: 990px;
  }
  @media(min-width: 1200px) {
    width: 1190px;
  }
}


/* styling br */
.for-mob {
	display: block;
	@media(min-width: 768px) {
    display: none;
  }
}

.hide-mob {
	display: none;
	@media(min-width: 768px) {
    display: block;
  }
}

/* styling Title */
.arw-down {
	display: block;
	margin: 0 auto 10px;
	max-height: 45px;
	@media(min-width: 768px) {
    margin: 0 auto 15px;
		max-height: 100%;
  }
}
.title-up {
	font-size: 25px;
  line-height: 30px;
	@media(min-width: 768px) {
    font-size: 30px;
    line-height: 42px;
  }
	@media(min-width: 992px) {
    font-size: 34px;
    line-height: 46px;
  }
	@media(min-width: 1200px) {
		font-size: 40px;
		line-height: 49px;
  }
}
.title-down {
	font-size: 27px;
  line-height: 32px;
	font-weight: 700;
	color: var(--blue);
	padding-bottom: 50px;
	background: url(/img/pre-line.png) no-repeat center bottom;
	@media(min-width: 768px) {
    font-size: 30px;
    line-height: 42px;
  }
	@media(min-width: 992px) {
    font-size: 34px;
    line-height: 46px;
  }
	@media(min-width: 1200px) {
		font-size: 40px;
		line-height: 49px;
  }
}
.title-desc {
	font-size: 17px;
	line-height: 25px;
	margin-top: 15px;
	letter-spacing: 0.5px;
	@media(min-width: 768px) {
    font-size: 19px;
		line-height: 28px;
		margin-top: 20px;
  }
}

/* styling Box for button */
.btn-box {
	position: relative;
	width: 470px;
	max-width: 100%;
	margin-top: 35px;
	display: block;
	text-align: center;
	font-size: 17px;
	line-height: 20px;
	font-weight: 600;
	display: none;
	@media(min-width: 768px) {
		display: block;
	}
	.btn-text {
		margin: 9px 0 18px;
		span {
			color: var(--red);
		}
	}
}